 .flex {
     display: flex;
 }
 
 .flex-center {
     justify-content: center;
     align-items: center;
 }
 
 form input {
     height: 20px;
 }
 
 .btnInner {
     height: 150px;
     width: 150px;
     align-items: center;
 }
 
 button {
     border-radius: 20px;
 }
 
 .addDelete {
     height: 450px;
     justify-content: space-around;
 }
 
 .hidden{
     display:none;
 }
 .popupAdd {
     display: none;
 }
 .popupDelete {
     display: none;
 }

 .hiddenInput{
     display:none;
 }

 .toolbar{
     display: flex;
      height: 450px;
     justify-content: space-around;
 }

 .toolbarcld{
     flex-direction: right;

 }

 flextop{
     align-items: flex-start;
 }

 .scrollbox{
height: 200px;
width: 200px;
border: 2px solid;


 }